<% if obj.errors.any? %>
  <% obj.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:failure] %>
  <div class="failure-message">
    <%= flash[:failure] %>
  </div>
<% end %>
