header {
    width: 100%;
    background-color: blue;
    color: white;
    padding: 5px 0;
    text-align: center;
  }
  
  footer{
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-top: 7px solid blue;
  }
  
  .partial {
    border: 1px solid blue;
    padding: 15px;
  }